[Unit]
Description=rsync backup for @SOURCE@
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/rsync -aAXv --ignore-missing-args --delete @SOURCE@ @DEST@
