Source: nanolx
Section: misc
Priority: optional
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.7.2
Homepage: https://nanolx.org
Vcs-Browser: https://gitlab.com/Nanolx/nanolx
Vcs-Git: https://gitlab.com/Nanolx/nanolx.git

Package: nanolx-base
Architecture: all
Depends:
 nanolx-admin,
 nanolx-apt-tools,
 nanolx-apt-sources,
 nanolx-cli,
 nanolx-x11,
 nanolx-security,
 nanolx-net,
 nanolx-devel-cli,
 nanolx-devel-android,
 nanolx-devel-x11,
 nanolx-media-codecs,
 nanolx-media-cli,
 nanolx-media-x11,
 nanolx-games,
 nanolx-games-emu,
Recommends:
 nanolx-themes
Suggests:
 nanolx-citrix-config
Description: Nanolx base package
 Nanolx is a set of meta-packages, wich I use to aid in syncing the package
 selection between my machine and machines that are maintained by me.

Package: nanolx-admin
Architecture: all
Depends:
 synaptic,
 gsmartcontrol,
 aptitude,
 backintime-qt | grsync,
 lm-sensors,
 ntfs-3g,
 dosfstools,
 btrfs-progs | btrfs-tools,
 lsof,
 localepurge,
 bleachbit,
 galternatives,
 gkdebconf,
 needrestart,
 linux-cpupower,
 cruft-ng,
 cryptsetup,
 gparted,
 packagesearch,
 libgtk3-perl,
 age,
 logsave,
 btop
Description: Collection of admin-tools
 This meta-package installs useful tools for system administration.

Package: nanolx-apt-tools
Architecture: all
Depends:
 apt-file,
 apt-listchanges,
 apt-listbugs,
 apt-rdepends,
 apt-show-versions,
 debdelta,
 reprepro,
 gdebi,
 nanolx-apt-sources
Replaces: nanolx-base (<< 4.3.20260522)
Description: Collection of tools for apt
 This meta-package installs useful tools for working with apt.

Package: nanolx-apt-sources
Architecture: all
Depends:
 wget
Description: Collection of extra sources for apt
 This meta-package installs extra apt-sources on the system.

Package: nanolx-cli
Architecture: all
Depends:
 vim,
 less,
 rsync,
 bash-completion,
 mc,
 p7zip-full,
 zip,
 xz-utils,
 unrar,
 bashstyle-ng,
 fortunes-flashrider,
 fdupes,
 unp,
 sqlite3 | sqlite,
 xe,
 bat | cat-bat,
 jq,
 fd-find,
 plocate,
 rdfind,
 eta,
 duf,
 dikus,
 organize,
 thefuck,
 lolcat,
 lsd,
 ugrep,
 fzf,
 gdu
Description: Collection of basic command line tools
 This meta-package installs extra command line tools on the system.

Package: nanolx-x11
Architecture: all
Depends:
 conky-std,
 yakuake | guake,
 kcharselect | gucharmap,
 yad,
 libgtk-nocsd0,
 task-kde-desktop,
 psensor,
 ibus,
 ibus-table-compose,
 sddm,
 xinput,
 ydotool,
 czkawka-gui
Description: Collection of X11 applications
 This meta-package installs extra X11 applications on the system.

Package: nanolx-security
Architecture: all
Depends:
 clamav,
 clamtk,
 clamassassin,
 tor,
 torsocks,
 tor-geoipdb,
 psad,
 kleopatra | seahorse,
 gpgv,
 pinentry-qt | pinentry-gnome3,
 keepassxc,
 lynis,
 rkhunter,
 firewalld | ufw,
 firewall-config | gufw,
 spectre-meltdown-checker,
 yubikey-manager,
 yubikey-agent,
 yubico-piv-tool,
 yubikey-touch-detector,
 pamu2fcfg,
 libpam-u2f
Description: Collection of security related tools
 This meta-package installs security related. You won't get a secure
 system by just installing this package.

Package: nanolx-net
Architecture: all
Depends:
 openssh-client,
 wireshark,
 qbittorrent,
 filezilla,
 thunderbird,
 firefox | firefox-esr,
 smbnetfs,
 gnu-ftpsync,
 kvirc,
 openvpn | mozillavpn,
 openresolv | resolvconf,
 torbrowser-launcher,
 stubby,
 syncthing,
 syncthing-gtk | syncthingtray,
 nextcloud-desktop,
 dolphin-nextcloud,
 privoxy
Description: Collection of network applications
 This meta-package installs network applications.

Package: nanolx-media-codecs
Architecture: all
Depends:
 gstreamer1.0-alsa,
 gstreamer1.0-plugins-bad,
 gstreamer1.0-plugins-base,
 gstreamer1.0-plugins-good,
 gstreamer1.0-plugins-ugly,
 gstreamer1.0-libav,
 libdvdcss2,
 libbluray2
Description: Collection of media codecs
 This meta-package installs media codecs.

Package: nanolx-media-cli
Architecture: all
Depends:
 lame,
 sox,
 vorbis-tools,
 flac,
 normalize-audio,
 streamripper,
 ffmpeg,
 cdparanoia,
 imagemagick,
 gpu-screen-recorder-cli
Description: Collection of cli media tools
 This meta-package installs cli media tools.

Package: nanolx-media-x11
Architecture: all
Depends:
 audacity,
 gmtp,
 mpv,
 geeqie,
 okular,
 gimp,
 xsane | simple-scan,
 k3b,
 libk3b7-extracodecs | libk3blib8-extracodecs | libk3b-extracodecs,
 mediathekview,
 easytag,
 elisa,
 ffmpegthumbnailer
Description: Collection of graphical media applications
 This meta-package installs x11 media applications

Package: nanolx-devel-cli
Architecture: all
Depends:
 ccache,
 dpkg-dev,
 fakeroot,
 ubuntu-dev-tools,
 schroot,
 sbuild,
 gcc,
 gcc-multilib,
 g++,
 g++-multilib,
 git,
 dh-make,
 dh-autoreconf,
 pkgconf,
 make,
 cmake,
 autoconf,
 automake,
 devscripts,
 autotools-dev,
 libtool,
 lintian,
 gdb,
 codespell,
 shellcheck,
 licensecheck,
 pycodestyle
Description: Collection of cli development tools
 This meta-package installs cli development tools

Package: nanolx-devel-android
Architecture: all
Depends:
 adb | android-tools-adb,
 fastboot | android-tools-fastboot,
 gradle,
 apktool,
 zipalign,
 default-jdk,
 brotli,
 android-sdk-libsparse-utils,
 android-file-transfer,
 fdroidserver,
 zstd
Description: Collection of android development tools
 This meta-package installs android development tools

Package: nanolx-devel-x11
Architecture: all
Depends:
 glade | cambalache,
 bluefish,
 geany,
 d-feet,
 okteta,
 poedit,
 valgrind-if-available,
 qownnotes
Description: Collection of ui development tools
 This meta-package installs ui development tools.

Package: nanolx-games
Architecture: all
Depends:
 glob2,
 freedroidrpg,
 enigma,
 gnome-sudoku,
 gnome-mahjongg,
 lincity-ng,
 neverball,
 pingus,
 supertuxkart,
 zelda-solarus-dx,
 zelda-solarus-xd,
 zelda-solarus-xd2-mercuris-chess,
 zelda-solarus-return-of-the-hylian,
 zelda-book-of-mudora,
 zelda-time-to-triumph,
 zelda-onilink-begins,
 zelda-navis-quest,
 zelda-tunics,
 lutris,
 xpadneo-dkms
Description: Collection of games
 This meta-package installs games and launchers.

Package: nanolx-games-emu
Architecture: all
Depends:
 dosbox,
 retroarch,
 libretro-desmume,
 libretro-gambatte,
 libretro-mgba,
 libretro-snes9x,
 libretro-nestopia,
 yabause-gtk | yabause-qt,
 scummvm
Description: Collection of emulators
 This meta-package installs a collection of emulators.
 .
 NOTE: only use self-made ROMs (using homebrew, hardware mods, or
       tools like Retrode). Downloading ROMs is often illegal. Known
       exceptions: ROMs where the copyright expired, ROMs distributed
       by the copyright holder (or it's legal successor) and Homebrew
       ROMs (completely self-made).

Package: nanolx-citrix-config
Architecture: amd64
Depends:
 ctxusb,
 icaclient,
 zoom,
 zoomvdi-universal-plugin,
 speex,
 v4l2loopback-dkms,
 pipewire-v4l2,
 libcamera-v4l2,
 bind9-dnsutils,
 pipewire-alsa,
 pipewire-pulse,
 llvm-libunwind1,
 gnome-keyring,
 rng-tools5
Replaces: icaclient
Description: Citrix Workspace Support package
 Additional integration and configuration for Citrix, as per
 AUR: https://aur.archlinux.org/packages/icaclient
 .
 The Script nanolx-ctx in /usr/sbin may be used to enhance citrix experience
 .
 This package also depends on Zoom and the VDI-Plugin.

Package: nanolx-themes
Architecture: all
Depends:
 refind,
 plymouth,
 dracut,
 qt-style-kvantum,
 kwin-style-aurorae,
 kde-plasma-desktop,
 konsole,
 kde-spectacle,
 python3-dbus,
 python3-gi
Replaces: nanolx-base (<< 4.3.20260522)
Description: Collection of themes
 Themes for Nanolx
 .
 Plymouth:   debian mac style
 rEFInd:     rEFInd digital void
 Cursors:    Empty Butterfly
 Qt:         Midnight Bright Kvantum
 Icons:      Tela (red dark)
 sddm:       Pixel Rainy Room
 wall:       Matrix Rain (Plasma 6)
 splash:     Infinity (Plasma Splash 6)
 KWin:       Aura glow effect (burn my windows)
 Plasmoids:  AndromedaLauncher and Panel Colorizer
 .
 Nothing style for Plasma, KWin, Konsole including color schemes and wallpapers
